{%extends 'base.html'%}

{%block content%}

{%if not billing_profile %}

<div class="row text-center">
  <div class="col-12 col-md-6">
    <p class = 'lead'>Login</p>
    {%include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
  </div>
  <div class="col-12 col-md-6">
    Continue as Guest

    {%url 'guest_register' as guest_register_url%}
    {%include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
  </div>

</div>

{%else%}
  {% if not object.shipping_address %}
  <div class='row'>
            <div class='col-12'>
                <p class='lead'>Địa chỉ giao hàng</p>
                <hr/>
            </div>
            <div class='col-6'>

                    {% url "checkout_address_create" as checkout_address_create %}
                    {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}'

             </div>
         <div class='col-6'>
            {% url 'checkout_address_reuse' as checkout_address_reuse %}
            {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse%}
            </div>
        </div>
  {%elif not object.billing_address %}

  <div class='row'>
            <div class='col-12'>
                 <p class='lead'>Địa chỉ thanh toán</p>
                <hr/>
            </div>
            <div class='col-6'>

            {% url "checkout_address_create" as checkout_address_create %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
            </div>
              <div class='col-6'>
                {% url 'checkout_address_reuse' as checkout_address_reuse %}
             {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri  address_type='billing' action_url=checkout_address_reuse %}
         </div>


        </div>

  {% else %}
    {%if not has_card%}
    <!--enter credit card-->
      <div class="stripe-payment-form" data-token='{{publish_key}}'
      data-next-url='{{request.build_absolute_uri}}' data-btn-title="Add Payment Method"></div>
    {%else%}

      <h1>Hoàn tất thanh toán</h1>

      <p>Sản phẩm: {% for product in object.cart.products.all %}{{product}}{%if not forloop.last %}, {%endif%}{%endfor%}</p>
      <p>Địa chỉ giao hàng: {{object.shipping_address.get_address}}</p>
      <p>Địa chỉ thanh toán: {{object.shipping_address.get_address}}</p>
      <p>Phương thức thanh toán: {{billing_profile.default_card}} (<a href="{{billing_profile.get_payment_method_url}}?next={{ request.build_absolute_uri }}">Thay đổi</a>)</p>
      <p>Chi phí đơn hàng: {{object.cart.total}}</p>
      <p>Chi phí vận chuyển: {{object.shipping_total}}</p>
      <p>Tổng hóa đơn: {{object.total}}</p>
      <form class="form" action="" method="post">{% csrf_token %}
        <button type="submit" class="btn btn-success">Thanh toán</button>
      </form>
    {%endif%}
  {% endif %}

{%endif%}

{%endblock%}
