
{% verbatim %}

<!-- stripe template form  -->
<script id="stripeTemplate" type="text/x-jsrender">

  <form class="payment-form" action="" method="post" id="payment-form" data-token='{{:publishKey}}' data-next-url='{{:nextUrl}}'>
    <div class="form-row">

      <div id="card-element" class='form-control'>
        <!-- A Stripe Element will be inserted here. -->
      </div>

      <!-- Used to display form errors. -->
      <div id="card-errors" role="alert"></div>
    </div>

    <button class="btn btn-primary my-3 btn-load">{{:btnTitle}}</button>
  </form>

  <div class="my-5">
    <h3>Test Card Number</h3>
    <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">NUMBER</th>
        <th scope="col">BRAND</th>
        <th scope="col">CVC</th>
        <th scope="col">DATE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>4242 4242 4242 4242</td>
        <td>Visa</td>
        <td>Any 3 digits</td>
        <td>Any future date</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>4000 0566 5566 5556</td>
        <td>Visa(debit)</td>
        <td>Any 3 digits</td>
        <td>Any future date</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>5555 5555 5555 4444</td>
        <td>Mastercard</td>
        <td>Any 3 digits</td>
        <td>Any future date</td>
      </tr>
    </tbody>
  </table>
  </div>

</script>
{%endverbatim%}
