{%extends 'base.html'%}

{%block content%}
<div class="row">
  <div class="col">
    <h1>Account</h1>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>

<div class="row">

  <div class="col-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Hỗ trợ</h5>
        <div class="list-group">
          <a class="list-group-item" href="{%url 'about'%}">Về chúng tôi</a>
          <a class="list-group-item" href="{%url 'contact'%}">Liên hệ</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Thanh toán</h5>
        <div class="list-group">
          <a class="list-group-item" href="{%url 'orders:list'%}">Đơn hàng</a>
          <a class="list-group-item" href="{%url 'billing-payment-method'%}">Phương thức thanh toán</a>
          <a class="list-group-item" href="#">Địa chỉ</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Chi tiết tài khoản</h5>
        <div class="list-group">
          <a class="list-group-item" href="{%url 'account:user-update'%}">Cập nhật</a>
          <a class="list-group-item" href="{%url 'password_change'%}">Đổi mật khẩu</a>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="col-12 col-md-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">History</h5>
        <div class="list-group">
          <a class="list-group-item" href="#">Products</a>
        </div>
      </div>
    </div>
  </div> -->

</div>





{%endblock%}
