{% extends "base.html" %}
{% load static %}

<title>Home Page Template</title>

{% block base_head %}
  <link rel='stylesheet' href='{% static "css/main2.css" %}'/>
{% endblock %}


{% block content %}



  <h1>{{title}}</h1>
  <div class="row">
    <div class="col">
      <img src="{% static 'img/beach.jpg' %}" class='img-thumbnail'>
      <p>{{content}}</p>
    </div>
  </div>
  {%if request.user.is_authenticated%}
  <div class="row">
    <div class="col">
      {{premium_content}}
    </div>

  </div>
  {%endif%}


{% endblock %}
